#navbar {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 6px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#account {
    margin-top: 50px;
}

#account_icon {
    border-radius: 50%;
}

#main {
    padding-top: 100px;
}

.center {
    display: block;
    margin: 0 auto;
}

#search_bar {
    margin-top: 25px;
}

input[type=text] {
    background: url(images/search_icon.png) no-repeat scroll 7px 7px;
    padding: 10px 10px 10px 38px;
    border: 1px solid #c8cbcc;
    border-radius: 20px;
    width: 500px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]:hover, input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 10px #ccd1d4;
}

button:hover {
    border-color: #ccd1d4;
    border-width: 1px;
}

#button-container {
    margin-top: 30px;
    text-align: center;
}

button {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #3c4043;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 12px;
    margin: 5px;
    display: inline-block;
}